html {}

body {
  background-color: #0EAD69;
  width: 100vw;
}

a {
  font-size: 35px;
  text-decoration: none;
  color: white;
  background-color: rgb(3, 80, 150);
  padding-inline: 10px;
  padding-block: 3px;
  border-radius: 5px;
  transition: .15s;
}

a:hover {
  background-color: rgb(31, 81, 255);
}

h1 {
  font-size: 75px;
  color: rgb(3, 80, 150);
  margin-top: 0px;
  margin-bottom: 0px;
}

#underlined {
  text-decoration: underline;
}

h2 {
  font-size: 60px;
  color: rgb(3, 80, 150);
  text-align: center;
}

#hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

#train-hero {
  width: 85vw;
  max-width: 700px;
}

#train {
  width: 85vw;
  max-width: 700px;
}

.page-list {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.page-button {
  margin-inline: 5px;
}

.calculator-container {
  margin: auto;
}

p {
  font-size: 40px;
  color: rgb(3, 80, 150);
}

.calculator-grid {
  margin: auto;
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
  width: 310px;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
}

button {
  border-radius: 5px;
  border: none;

  background-color: rgb(3, 80, 150);
  color: white;

  font-size: 30px;
  font-weight: bold;
  transition: .15s;
}

button:hover {
  background-color: rgb(31, 81, 255);
}

#input {
  grid-column: 1 / 4;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 30px;
}

#train {
  transition: 0.1s;
}

#train:active {
  transform: translateY(4px);
}

#train-freq {
  font-size: 25px;
}

.button-container {
  width: 400px;
}

#click-count {
  margin-block-end: 15px;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-inline: 30px;
}
